# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Frontend (Angular) compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Node dependencies & logs
/frontend/node_modules
**/npm-debug.log
**/yarn-error.log

# IDEs and editors
**/.idea/
**/.project
**/.classpath
**/.c9/
*.launch
**/.settings/
*.sublime-workspace

# Visual Studio Code (frontend)
/frontend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json
/frontend/.history/*

# Miscellaneous
/frontend/.angular/cache
**/.sass-cache/
**/connect.lock
/frontend/coverage
**/libpeerconnection.log
/frontend/testem.log
/frontend/typings
**/__screenshots__/

# System files
.DS_Store
Thumbs.db

# Backend (Spring Boot)
/backend/target/
