<div class="container">

  <div class="mt-5 flex justify-content-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }" styleClass="advanced-card">
      <ng-template pTemplate="header">
        <img alt="Advanced Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      </ng-template>

      <ng-template pTemplate="title">Advanced Card</ng-template>

      <ng-template pTemplate="subtitle">
        <h4>Card subtitle</h4>
      </ng-template>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
        repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione
        quam perferendis esse, cupiditate neque quas!
      </p>

    </p-card>
  </div>

</div>
