:host ::ng-deep .table-template-page .p-paginator .p-dropdown {
  height: 2rem !important;
  min-height: 2rem !important;
  line-height: 2rem !important;
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

:host
  ::ng-deep
  .table-template-page
  .p-paginator
  .p-dropdown
  .p-dropdown-label {
  line-height: 2rem !important;
  padding: 0 0.6rem !important;
}

:host
  ::ng-deep
  .table-template-page
  .p-paginator
  .p-dropdown
  .p-dropdown-trigger {
  height: 2rem !important;
  width: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
