:host ::ng-deep .table-template-page .p-paginator .p-dropdown {
  height: 2rem !important;
  min-height: 2rem !important;
  line-height: 2rem !important;
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

:host
  ::ng-deep
  .table-template-page
  .p-paginator
  .p-dropdown
  .p-dropdown-label {
  line-height: 2rem !important;
  padding: 0 0.6rem !important;
}

:host
  ::ng-deep
  .table-template-page
  .p-paginator
  .p-dropdown
  .p-dropdown-trigger {
  height: 2rem !important;
  width: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .table-template-page .p-paginator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

:host ::ng-deep .table-template-page .p-paginator
  .p-paginator-left-content,
:host ::ng-deep .table-template-page .p-paginator
  .p-paginator-right-content {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}

:host ::ng-deep .table-template-page .p-paginator
  .p-paginator-pages,
:host ::ng-deep .table-template-page .p-paginator
  .p-paginator-first,
:host ::ng-deep .table-template-page .p-paginator
  .p-paginator-prev,
:host ::ng-deep .table-template-page .p-paginator
  .p-paginator-next,
:host ::ng-deep .table-template-page .p-paginator
  .p-paginator-last {
  order: 1;
}

:host ::ng-deep .table-template-page .p-paginator
  .p-dropdown {
  order: 2;
  margin: 0;
}
