<div class="table-template-page">

  <div class="table-panel">
    <h2>Título do formulário</h2>
    <p class="table-panel__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum justo a pretium
      scelerisque.
    </p>

    <p-table
      [value]="visibleProducts"
      responsiveLayout="scroll"
      styleClass="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="rows"
      [totalRecords]="products.length"
      [first]="first"
      [rowsPerPageOptions]="[5, 10]"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
</div>
