.cursos-page {
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;

  &__content {
    width: min(960px, 100%);
    text-align: center;

    h2 {
      font-size: clamp(2rem, 4vw, 3rem);
      margin-bottom: 1rem;
    }

    p {
      margin: 0;
      font-size: 1.125rem;
      line-height: 1.6;
      color: #475569;
    }
  }
}
